[user]
	name = Tobias Svehagen
	email = tobias.svehagen@gmail.com
[core]
	editor = vim
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = tobias.svehagen@gmail.com
	smtpPass = password
	smtpServerPort = 587
[alias]
	co = checkout
	cp = cherry-pick
	ls = log --oneline
	st = status -sb

	amend = commit --amend
	branches = branch -a
	remotes = remote -v

	reb = "!r() { git rebase -i HEAD~$1; }; r"
