[submodule "vim-airline"]
	path = vim/.vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-better-whitespace"]
	path = vim/.vim/pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-sensible"]
	path = vim/.vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
